Package: com.wizages.bae
Name: MakeRespringsGreatAgain
Depends: mobilesubstrate
Version: 1.3
Architecture: iphoneos-arm
Description: On resprings it brings back the apple logo which makes resprings great again!
Maintainer: wizage
Author: wizage
Section: Tweaks
Depiction: http://wizages.com/cydia/depictions/?dep=com.wizages.bab
